<h1>Login</h1>

<%= form_with '/login', local: true do %>
   <%= render 'flash_message' %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Log In" %>
<% end %>