<h1><%= @recipe.name %></h1>

<p>Cook Time: <%= @recipe.cook_time %> min.</p>
<p>Servings: <%= @recipe.servings %></p>
Ingredients:
    <% @recipe.list_of_ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
    <% end %>
<br>
<p>Directions: <%= @recipe.directions %></p>

<%= link_to("Edit Recipe", edit_recipe_path(@recipe)) %>
<%= link_to("Delete Recipe", recipe_path(@recipe), method: 'delete') %>
<%= link_to("Comment on this Recipe", new_recipe_comment_path(@recipe)) %>

<h3>Comments</h3>
<%= render 'comments/comment_list', comments: @recipe.comments if @recipe.comments %>