<h1><%= @recipe.name %></h1>

<p>Cook Time: <%= @recipe.cook_time %> min.</p>
<p>Servings: <%= @recipe.servings %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<br>
<p>Directions: <%= @recipe.directions %></p>
