<h1><%= @recipe.name %></h1>

<p>Cook Time: <%= @recipe.cook_time %> min.</p>
<p>Servings: <%= @recipe.servings %></p>

Ingredients:
    <% list_of_ingredients(@recipe).each do |ingredient| %>
        <li><%= ingredient %></li>
    <% end %>
<br>

<p>Directions: <%= @recipe.directions %></p>

<%= display_edit_link_if_authorized_admin(@recipe) %>
<%= display_delete_link_if_authorized_admin(@recipe) %>

<h3>Comments</h3>
<%= render 'comments/comment_list', comments: @recipe.comments if @recipe.comments %>