<!DOCTYPE html>
<html>
  <head>
    <title>FoodForFido</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <navbar>
      <%= link_to("Home", root_path) %>
      <% if !logged_in? %>
        <%= link_to("Sign Up", signup_path) %>
        <%= link_to("Log In", login_path) %>
        <%= button_to("Log In With Facebook", '/auth/facebook') %>
      <% else %>
        <%= link_to("All Recipes", recipes_path) %>
        <% if admin? == true %>
          <%= link_to("Create New Recipe", new_recipe_path) %>
        <% end %>
        <%= link_to("#{current_user.name}", user_path(current_user)) %>
        <%= link_to("Log Out", logout_path, method: 'delete') %>
      <% end %>
    </navbar>

    <%= render 'sessions/flash_message' %>

    <%= yield %>
  </body>
</html>
